* {
  margin: 0;
  padding: 0;
}

html, body, #root, .app {
  height: 100%;
}

.app {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  flex-shrink: 0;
  margin-top: 2rem;
}

/* Todo List*/

.todo-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

/* Todo */

.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 15rem;
}

.todo:nth-child(even) {
  background-color: #eee;
}

.todo button {
  border: none;
  background-color: salmon;
  width: 1.25rem;
  border-radius: 0.5rem;
}

/* Create Todo */

.create-todo {
  display: flex;
  width: 20rem;
  height: 2rem;
  flex-shrink: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.create-todo input[type=text] {
  padding-left: 1rem;
  background-color: #eee;
  width: 80%;
  height: 1.5rem;
  border: none;
  border-radius: 1rem 0 0 1rem;
}

.create-todo button {
  font-weight: 600;
  background-color: aqua;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 0 1rem 1rem 0;
}